<!DOCTYPE html>
<html>
  <head>
    <title>Animaciones</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <link rel="stylesheet"
    href='https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap'>
    

  </head>
  <body class="app">
    <p id="counter"></p>

    <div class="element" id="insertHtml">

    </div>

    <div class="element" id="insertHtml_2">
      
    </div>

    <script src="/javascripts/alphabet.js"></script>
  </body>
</html>
