<!DOCTYPE html>
<html>
  <head>
    <title>Cronometer</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <h1 data-chronometer>00:00:00:00</h1>
    <button id="play">play</button>
    <button id="pause">pause</button>
    <button id="reset">reset</button>

    <script src="/javascripts/cronometer.js"></script>
  </body>
</html>
