<!DOCTYPE html>
<html>
  <head>
    <title>Animaciones</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p id="counter"></p>

    <h1 id="insertHtml"></h1>
    <br>
    <p id="arrayHtml"></p>
    <br>
    <!-- <hr> -->
    <br>
    <h2 id="insertHtml_2"></h2>
    <p id="arrayHtml_2"></p>
    <br>
    <!-- <hr> -->
    <br>
    <h3 id="insertHtml_3"></h3>
    <p id="arrayHtml_3"></p>
    <br>
    <!-- <hr> -->
    <br>
    <h4 id="insertHtml_4"></h4>
    <p id="arrayHtml_4"></p>
    <br>

    <script src="/javascripts/counter.js"></script>
  </body>
</html>
