.app {
  margin-top: 50px;
  padding: 20px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  /* background: black; */
  font-family: 'Anonymous Pro', monospace;
  color: white;
  text-align: center;
}


.element{
  position: relative;
  /* left: 30px; */
}
/* a {
  color: #00B7FF;
} */
